option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "application:application"

container_commands:
  01_installl_requirements:
    command: "pip install -r requirements.txt"
    cwd: "/var/app/ondeck"
